# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Win32Project2/Win32Project2/ReadMe.txt
Win32Project2/Win32Project2/Debug/
Win32Project2/ipch/win32project2-3ce45e92/win32project2-12962548.ipch
Win32Project2/Debug/
Win32Project2/Framework/Debug/
Win32Project2/Win32Project2/Win32Project2.aps
Win32Project2/Win32Project2/Win32Project2.sdf
Win32Project2/Win32Project2/ipch/win32project2-9310d935/win32project2-12962548.ipch
Win32Project2/Win32Project2_2010.opensdf
Win32Project2/Win32Project2_2010.sdf
Win32Project2/ipch/framework-82905099/framework-b3384cba.ipch
Win32Project2/ipch/win32project2-9310d935/win32project2-12962548.ipch
*.ipch
